﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModel.PostValidationViewModel

<div class="col-12 align-self-center">
    <form method="post" asp-controller="Post" asp-action="CreatePost" asp-route-returnUrl="@Url.Action("Index", "Post")">
        <label for="username" class="col-12">
            Content
            <textarea asp-for="Content" type="text" id="content" name="content" class="textareaStyle"></textarea>
        </label>
        <label for="password" class="col-12">
            Tags (seperate by comma(,))
            <input asp-for="Tags" id="tags" type="text" name="tags" value="" />
        </label>
        <button type="submit">Post</button>
    </form>
</div>