﻿@model List<ViewModel.PostViewModel>;
@foreach (var item in Model)
{
<div>
    <p>
        @item.Content
    </p>
    <span class="createdDate">
        @item.CreatedDate
    </span>
    <span class="Author">
        @item.UserViewModel.UserName
    </span>
    <div class="tag">
        @foreach (var tag in item.Tags)
        {
            <span>
                @tag.Name + ", ";
            </span>
        }
    </div>

    <div class="comments">
        @foreach (var comment in item.Comments)
        {
            <div class="comment">
                <p>
                    @comment.Content;
                </p>
                <span class="commentUser">
                    @comment.UserName
                </span>
                <span>
                    @comment.CreatedDate
                </span>
            </div>
        }
    </div>
</div>
}