﻿@using Web
@using Web.Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if ((CurrentUser.User != null) && (CurrentUser.User.Roles.Find(x => x == "Admin")) != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Post" asp-action="Index">All posts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Post" asp-action="CreatePost">Create post</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register user</a>
                                </li>
                            }
                        }
                    </ul>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container" style="max-width:100%;">
        <main role="main" class="pb-3">
            <div class="text-center row">
                <div class="col-12">
                    <h1 class="display-4">Welcome</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
                @{

                    if ((CurrentUser.User != null) && (CurrentUser.User.Roles.Find(x => x == "Admin")) != null)
                    {
                        <div class="col-9" style="min-height:800px; background-color:navy;">
                            @RenderBody()
                        </div>
                        <div class="col-3" style="background-color: #9b0d0d; min-height:800px;">
                            @await Html.PartialAsync("_UserListPartial", ViewData["UserList"]);
                        </div>
                    }
                    else
                    {

                        <div class="col-12 text-center">
                            @RenderBody()
                        </div>
                    }
                }
            </div>
        </main>
    </div>

    <div class="chatmesssage">

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
