﻿@model Web.ViewModel.UserListViewModel
@using Web.DTO
@using System.Linq

@foreach (UserResponse user in Model.Users)
{
<li>
    <p>@user.Username</p>
    @{
        ChatResponse chat = Model.ExistingChats.Find(x => x.ChatUsers.Any(x => x.UserID == user.Id));

    } 
    @if (chat != null)
    {
        <form asp-controller="Chat" asp-action="OpenChat">
            <input type="hidden" asp-for="SelectedChat" name="SelectedChat" id="SelectedChat" value="@chat.Id" />
            <input type="submit" value="Chat" />
        </form>
    }
    else
    {
        <form asp-controller="Chat" asp-action="CreateChat">
            <input type="hidden" asp-for="ChosenUser" name="ChosenUser" id="ChosenUser" value="@user.Id" />
            <input type="submit" value="Chat" />
        </form>

    }

</li>
 }