﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Model.AuthUser
<div class="col-12 align-self-center">
    <form method="post" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Url.Action("Index", "Home")">
        <label for="username" class="col-12">
            Brugernavn
            <input asp-for="Username" type="text" id="username" name="username" value="" />
        </label>
        <label for="password" class="col-12">
            Password
            <input asp-for="Pass" id="password" type="password" name="pass" value="" />
        </label>
        <button type="submit">Login</button>
    </form>
</div>