﻿@model Web.ViewModel.ChatViewModel
@using Web.Model
@using Web.DTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <div>
        @if (Model.Chat.Messages != null)
        {
            @foreach (ChatMessageDTO message in Model.Chat.Messages)
            {
                <p>@message.CreatedDate.ToString() - insert username here</p>
                <p>@message.Content</p>
            }
         }
         else
         {
            <p>No messages currently</p>
         }

    </div>
    <form method="post" asp-controller="Chat" asp-action="SendMessage" asp-route-returnUrl="@Url.Action("OpenChat", "Chat")">
        <textarea type="text" asp-for="SendMessage.Message" name="Message"></textarea>
        <input asp-for="SendMessage.UserID" value="@CurrentUser.User.Id" type="hidden" />
        <input asp-for="SendMessage.ChatID" value="@Model.Chat.Id" type="hidden" />
        <input type="submit" />
    </form>
</div>